In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
#since pd.readjson will cause memeory error, we read the file line by line
path = 'data/yelp_academic_dataset_review.json'
review = []
with open(path, encoding = 'utf-8') as fin:
    #i = 0 
    for line in fin:
        line_contents = json.loads(line)
        review.append(line_contents)

In [3]:
review = pd.DataFrame(review)
review.shape

(6990280, 9)

In [4]:
review.head()

<bound method NDFrame.head of                       review_id                 user_id  \
0        KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA
1        BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q
2        saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A
3        AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ
4        Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ
...                         ...                     ...
6990275  H0RIamZu0B0Ei0P4aeh3sQ  qskILQ3k0I_qcCMI-k6_QQ
6990276  shTPgbgdwTHSuU67mGCmZQ  Zo0th2m8Ez4gLSbHftiQvg
6990277  YNfNhgZlaaCO5Q_YJR4rEw  mm6E4FbCMwJmb7kPDZ5v2Q
6990278  i-I4ZOhoX70Nw5H0FwrQUA  YwAMC-jvZ1fvEUum6QkEkw
6990279  RwcKOdEuLRHNJe4M9-qpqg  6JehEvdoCvZPJ_XIxnzIIw

                    business_id  stars  useful  funny  cool  \
0        XQfwVwDr-v0ZS3_CbbE5Xw    3.0       0      0     0
1        7ATYjTIgM3jUlt4UM3IypQ    5.0       1      0     1
2        YjUWPpI6HXG530lwP-fb2A    3.0       0      0     0
3        kxX2SOes4o-D3ZQBkiMRfA    5.0       1      0     1
4        e4Vwtrqf-wpJfwesgvdgxQ    4.0       1      0     1
...                         ...    ...     ...    ...   ...
6990275  jals67o91gcrD4DC81Vk6w    5.0       1      2     1
6990276  2vLksaMmSEcGbjI5gywpZA    5.0       2      1     2
6990277  R1khUUxidqfaJmcpmGd4aw    4.0       1      0     0
6990278  Rr9kKArrMhSLVE9a53q-aA    5.0       1      0     0
6990279  VAeEXLbEcI9Emt9KGYq9aA    3.0      10      3     7

                                                      text  \
0        If you decide to eat here, just be aware it is...
1        I've taken a lot of spin classes over the year...
2        Family diner. Had the buffet. Eclectic assortm...
3        Wow!  Yummy, different,  delicious.   Our favo...
4        Cute interior and owner (?) gave us tour of up...
...                                                    ...
6990275  Latest addition to services from ICCU is Apple...
6990276  This spot offers a great, affordable east week...
6990277  This Home Depot won me over when I needed to g...
6990278  For when I'm feeling like ignoring my calorie-...
6990279  Located in the 'Walking District' in Nashville...

                        date
0        2018-07-07 22:09:11
1        2012-01-03 15:28:18
2        2014-02-05 20:30:30
3        2015-01-04 00:01:03
4        2017-01-14 20:54:15
...                      ...
6990275  2014-12-17 21:45:20
6990276  2021-03-31 16:55:10
6990277  2019-12-30 03:56:30
6990278  2022-01-19 18:59:27
6990279  2018-01-02 22:50:47

[6990280 rows x 9 columns]>

In [5]:
review.drop(['review_id','useful', 'funny','cool','date'], axis=1,inplace = True)

In [6]:
review.shape

(6990280, 4)

In [7]:
review.head()

,user_id,business_id,stars,text
0,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,"If you decide to eat here, just be aware it is..."
1,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,I've taken a lot of spin classes over the year...
2,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,Family diner. Had the buffet. Eclectic assortm...
3,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,"Wow! Yummy, different, delicious. Our favo..."
4,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,Cute interior and owner (?) gave us tour of up...

In [10]:
#since pd.readjson will cause memeory error, we read the file line by line
path = 'data/yelp_academic_dataset_user.json'
user = []
with open(path, encoding = 'utf-8') as fin:
    #i = 0 
    for line in fin:
        line_contents = json.loads(line)
        user.append(line_contents)

In [11]:
user = pd.DataFrame(user)
user.shape

(1987897, 22)

In [12]:
user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [13]:
#since pd.readjson will cause memeory error, we read the file line by line
path = 'data/yelp_academic_dataset_business.json'
business = []
with open(path, encoding = 'utf-8') as fin:
    #i = 0 
    for line in fin:
        line_contents = json.loads(line)
        business.append(line_contents)

In [14]:
business = pd.DataFrame(business)
business.shape

(150346, 14)

In [15]:
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."